
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.container{
  border-radius:2px;
  background-color: #dddddd;
  height: 90vh;
}
.nameStyle{
  height: 8vh;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  margin: 4px;
}
.nameStyle:hover{
  background-color: #f1f1f1 !important;
  cursor: pointer;
}

.chat_body{
  background-color: #f1f1f1;
  padding: 10px;
  position: relative;
 overflow-y: scroll;
}

.chat_message{
  background-color: #dddddd;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 20px;
}

.chat_reciever{
 margin-left: auto;

}

.chat_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  word-break: break-all;
  white-space: normal;
  max-width: 70%;
}